<ul style="background-color: orange;" ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a style="background-color: orange;" ngbNavLink>Developers News</a>
    <ng-template ngbNavContent>
      <!-- display posts -->
      <table *ngIf=isPostsMode class="table table-striped">
        <tbody>
          <tr *ngFor="let post of posts; index as i">
            <app-post (userPageEvent)=getUserPage($event) (commentsEvent)=getComments($event) [post]=post [postIndex]=i></app-post>
          </tr>
        </tbody>
      </table>

      <!-- display comments -->
      <form *ngIf="isCommentsMode" [formGroup]="commentForm" (ngSubmit)="onAddComment()" class="example-form">
        <textarea rows='5' cols="20" id='comment' wrap='virtual' type='text' matInput formControlName='comment'></textarea>
        <br>
        <button class="button" type="submit" mat-raised-button color="primary">Add Comment</button>
      </form>
      
      <br>
      <br>
      
      <table *ngIf="isCommentsMode" class="table table-striped">
        <tbody>
          <tr *ngFor="let comment of comments; index as i">
            <app-comment [comment]=comment [commentIndex]=i></app-comment>
          </tr>
        </tbody>
      </table>

    <!-- display user page -->
    <app-user-page *ngIf="isUserPageMode" [userName]=userName [isEditMode]='isUserLoggedIn() && loggedUserName==userName'> </app-user-page>   
    </ng-template>
  </li>
  <!-- <li [ngbNavItem]="2">
    <a style="background-color: orange;" ngbNavLink>Comments</a>
    <ng-template ngbNavContent>
      <p>
        Exercitatio
      </p>
    </ng-template>
  </li> -->
  <li *ngIf='isUserLoggedIn()' [ngbNavItem]="2">
    <a style="background-color: orange;"ngbNavLink>Submit</a>
    <ng-template ngbNavContent>
      <app-submit [loggedUserName]=loggedUserName [loggedUserId]=loggedUserId></app-submit>
    </ng-template>
  </li>
  <li [ngbNavItem]="3" class="nav-item ml-auto">
    <a *ngIf="!isUserLoggedIn()" style="background-color: orange;" ngbNavLink class="nav-link" data-toggle="tab" href="#tab22" role="tab">Login</a>
    <a *ngIf="isUserLoggedIn()" style="background-color: orange;" ngbNavLink class="nav-link" data-toggle="tab" href="#tab22" role="tab">{{loggedUserName}}</a>
    <ng-template ngbNavContent>
      <app-login (onUserLogin)=setLoggedUserName($event) [loggedUserName]=loggedUserName></app-login>
    </ng-template>
  </li>
  <li [ngbNavItem]="4"class="nav-item">
    <a (click)="logout()" style="background-color: orange;" ngbNavLink class="nav-link" data-toggle="tab" href="#tab33" role="tab">Logout</a>
    <ng-template ngbNavContent>
      <p>
        Sed commodo, leo at suscipit dictum, quam est porttitor sapien
      </p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
