<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>User Name:</mat-label>
            <input id='userName' type='text' matInput formControlName="userName">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Password:</mat-label>
            <input id='password' matInput [type]="hideLoginPassword ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hideLoginPassword = !hideLoginPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideLoginPassword">
            <mat-icon>{{hideLoginPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    
        <button class="button" type="submit" mat-raised-button color="primary">Submit</button>
    </form>
</mat-card>
<br>
<br>


<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>UserName: </mat-label>
            <input id='newUserName' type='text' matInput formControlName="newUserName">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Password:</mat-label>
            <input id='newPassword' type='text' matInput [type]="hideSignUpPassword ? 'password' : 'text'" formControlName="newPassword">
            <button mat-icon-button matSuffix (click)="hideSignUpPassword = !hideSignUpPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideSignUpPassword">
            <mat-icon>{{hideSignUpPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    
        <button class="button" type="submit" mat-raised-button color="primary">Create Account</button>
    </form>
</mat-card>
