<mat-card class="example-card">
  <!-- user details display not edit mode -->
  <table *ngIf='isUserPage && !isEditMode' class="table table-striped">
    <tbody>
        <tr>
          <td>User: </td>
          <td>{{user && user.usr_name}}</td>
        </tr>
        <tr>
          <td>Created: </td>
          <td>{{user && timeChangeFormat(user.time_of_creation)}}</td>
        </tr>
        <tr>
          <td>About:  </td>
          <td>{{user && user.about}}</td>
        </tr>
        <button mat-button color="primary" (click)="getSubmissions()">Submissions</button>
        <br>
        <button mat-button color="primary" (click)="getComments()">Comments</button>
        <br>
        <button mat-button color="primary" (click)="getFavorites()">Favorites</button>
    </tbody>
  </table>

   <!-- user details display in edit mode -->
  <table *ngIf='isUserPage && isEditMode' class="table table-striped">
    <tbody>
        <tr>
          <td>User: </td>
          <td>{{user && user.usr_name}}</td>
        </tr>
        <tr>
          <td>Created: </td>
          <td>{{user && timeChangeFormat(user.time_of_creation)}}</td>
        </tr>
        <tr>
            <td>About: </td>
            <td>
              <form [formGroup]="userDetailsForm" (ngSubmit)="onUpdate()" class="example-form">
                <textarea rows=5 id='about' wrap='virtual' type='text' matInput formControlName='about'>
                  {{user?.about}}
                </textarea>
                <button class="button" type="submit" mat-raised-button color="primary">Update</button>
              </form>
            </td>
        </tr>


        <button mat-button color="primary" (click)="getSubmissions()">Submissions</button>
        <br>
        <button mat-button color="primary" (click)="getComments()">Comments</button>
        <br>
        <button mat-button color="primary" (click)="getFavorites()">Favorites</button>
        <br>
        <!-- <button *ngIf='isEditMode' mat-button color="primary" (click)="updateDetails()">Update</button> -->
    </tbody>
  </table>


  <!-- comments display -->
  <table *ngIf="isCommentsPage" class="table table-striped">
      <tbody>
          <tr *ngFor="let comment of comments; index as i">
          <app-comment [comment]=comment [commentIndex]=i></app-comment>
          </tr>
      </tbody>
  </table>
  
  <!-- user submissions display -->
  <table *ngIf=isSubmissionsPage class="table table-striped">
      <tbody>
        <tr *ngFor="let post of submissions; index as i">
          <app-post (userPageEvent)=getUserPage() (commentsEvent)=getComments() [post]=post [postIndex]=i></app-post>
        </tr>
      </tbody>
  </table>
  
  <!-- user favorites display -->
  <table *ngIf=isFavoritesPage class="table table-striped">
      <tbody>
        <tr *ngFor="let post of favorites; index as i">
          <app-post (userPageEvent)=getUserPage() (commentsEvent)=getComments() [post]=post [postIndex]=i></app-post>
        </tr>
      </tbody>
  </table>
</mat-card>