<mat-card class="example-card">
  <!-- user details display -->
  <table *ngIf='isUserPage' class="table table-striped">
    <tbody>
        <tr>
          <td>User: </td>
          <td>{{user && user.usr_name}}</td>
        </tr>
        <tr>
          <td>Created: </td>
          <td>{{timeChangeFormat(user.time_of_creation)}}</td>
        </tr>
        <tr>
          <td>About:  </td>
          <td>{{user && user.about}}</td>
        </tr>
        <button mat-button color="primary" (click)="getSubmissions()">Submissions</button>
        <br>
        <button mat-button color="primary" (click)="getComments()">Comments</button>
        <br>
        <button mat-button color="primary" (click)="getFavorites()">Favorites</button>
    </tbody>
  </table>


  <!-- comments display -->
  <table *ngIf="isCommentsPage" class="table table-striped">
      <tbody>
          <tr *ngFor="let comment of comments; index as i">
          <app-comment [comment]=comment [commentIndex]=i></app-comment>
          </tr>
      </tbody>
  </table>
  
  <!-- user submissions display -->
  <table *ngIf=isSubmissionsPage class="table table-striped">
      <tbody>
        <tr *ngFor="let post of submissions; index as i">
          <app-post (userPageEvent)=getUserPage() (commentsEvent)=getComments() [post]=post [postIndex]=i></app-post>
        </tr>
      </tbody>
  </table>
  
  <!-- user favorites display -->
  <table *ngIf=isFavoritesPage class="table table-striped">
      <tbody>
        <tr *ngFor="let post of favorites; index as i">
          <app-post (userPageEvent)=getUserPage() (commentsEvent)=getComments() [post]=post [postIndex]=i></app-post>
        </tr>
      </tbody>
  </table>
</mat-card>